<div class="App">
    <div class="main-container">
      <div class='tw-p-5'>
        <h1 class='holo-main-title'>TEST</h1>
      </div>
      <div class='common-container'>
        <h1 class="tw-text-1xl tw-font-bold tw-underline">
          Hello world!
        </h1>
      </div>
      <div class="flex flex-column">
      </div>
      <div class='common-container'>
        <button class="tw-holo-btn tw-holo-btn-primary">Button</button>
      </div>

      <div tabIndex={0} class="tw-holo-collapse"> 
        <div class="tw-holo-collapse-title tw-text-xl tw-font-medium">
          Focus me to see content
        </div>
        <div class="tw-holo-collapse-content"> 
          <p>tabIndex={0} attribute is necessary to make the div focusable</p>
        </div>
      </div>
    </div>
  </div>