.symptom-filter__main-container {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 30px;
}

.symptom-filter__main-button {
    display: flex;
    padding: 25px;
    border-radius: 100px;
    border-width: 0;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 1.375;
    letter-spacing: .05em;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.button-pressed {
    display: none;
    background-color: black;
    color: white;
}

.button-not-pressed {
    display: flex;
    background-color: white;
    color: black;
}

.symptom-filter__menu-container {
    display: none;
    flex-direction: column;
    z-index: 100;
    top: 90px;
    right: 100px;
    position: absolute;
    background-color: white;
    padding: 40px;
    color: black;
    width: 288px;
    border-radius: 8px
}   

.symptom-filter__chevron-icon {
    width: 14px;
    margin-left: 20px;
}

.flipped {
    transform: rotate(180deg);;
}

.symptom-filter__menu-title {
    font-family: 'Domaine Text Regular' !important;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.1666666667;
    letter-spacing: -.02em;
    margin: 0;
    padding-bottom: 16px;
}

.symptom-filter__menu-item{
    font-family: "Basis Grotesque Pro Bold" !important;
    font-weight: 900;
    font-size: 1.4rem;
    line-height: 1.3;
    letter-spacing: .05em;
    text-decoration: none;
    color: black;
    padding: 10px 0;
    text-transform: uppercase;
}

.symptom-filter__menu-reset-item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.375;
    letter-spacing: .05em;
    text-decoration: none;
    color: black;
    padding-top: 30px;
    align-self: flex-end;
    margin-bottom: -20px;
    margin-right: -10px;
}

@media screen and (max-width: 750px) {
    .symptom-filter__main-container {
        justify-content: flex-start;
    }

    .symptom-filter__main-button {
        padding: 10px 16px;
    }

    .symptom-filter__menu-container {
        top: 60px;
        right: 90px;
    }   
  }
  